<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="problem">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <a href="/inv/management">Return</a>
  <form action="/inv/add-inventory" method="post" class="account">
    <div class="container">
        <div class="add">
            <label for="v_make"><b>Make</b></label><br>
            <input type="text" placeholder="Enter Make" name="v_make" required value="<%= locals.v_make %>">
            <label for="v_model"><b>Model</b></label><br>
            <input type="text" placeholder="Enter Model" name="v_model" required value="<%= locals.v_model %>">
            <label for="v_year"><b>Year</b></label><br>
            <input type="number" placeholder="Enter Year" name="v_year" required value="<%= locals.v_year %>" min="0" max="<%= new Date().getFullYear() %>">
            <label for="v_description"><b>Description</b></label><br>
            <textarea placeholder="Enter Description" name="v_description" required><%= locals.inv_description %></textarea>
            <label for="v_image"><b>Image URL</b></label><br>
            <input type="text" placeholder="Enter Image URL" name="v_image" required value="<%= locals.v_image %>">
            <label for="v_thumbnail"><b>Thumbnail URL</b></label><br>
            <input type="text" placeholder="Enter Thumbnail URL" name="v_thumbnail" required value="<%= locals.v_thumbnail %>">
            <label for="v_price"><b>Price</b></label><br>
            <input type="number" placeholder="Enter Price" name="v_price" required value="<%= locals.v_price %>">
            <label for="v_miles"><b>Miles</b></label><br>
            <input type="number" placeholder="Enter Miles" name="v_miles" required value="<%= locals.v_miles %>">
            <label for="v_color"><b>Color</b></label><br>
            <input type="text" placeholder="Enter Color" name="v_color" required value="<%= locals.v_color %>">
            <label for="classification_id"><b>Classification</b></label><br>
            <select name="classification_id" required><%- classificationList %></select>
        </div><br>

        <button type="submit">Add Inventory</button>
    </div>
</form>